<a href="https://colab.research.google.com/github/ab-sa/Statistical-Machine-Learning-2/blob/main/Lecture7_logisticMultinomialRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, RepeatedKFold, cross_val_score
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
Credit = pd.read_csv('Credit.csv')
print('Dimension of the data: ' + str(Credit.shape))
Credit.head()

Dimension of the data: (400, 12)

   ID   Income  Limit  Rating  ...  Student  Married  Ethnicity Balance
0   1   14.891   3606     283  ...       No      Yes  Caucasian     333
1   2  106.025   6645     483  ...      Yes      Yes      Asian     903
2   3  104.593   7075     514  ...       No       No      Asian     580
3   4  148.924   9504     681  ...       No       No      Asian     964
4   5   55.882   4897     357  ...       No      Yes  Caucasian     331

[5 rows x 12 columns]

In [ ]:
Credit.describe()
Credit['Balance_bin'] = pd.cut(Credit.Balance, bins=[-1,600,2000], labels=['0','1'])
print(Credit['Balance_bin'].value_counts(normalize=True))
Credit.head()

0    0.59
1    0.41
Name: Balance_bin, dtype: float64

   ID   Income  Limit  Rating  ...  Married  Ethnicity  Balance Balance_bin
0   1   14.891   3606     283  ...      Yes  Caucasian      333           0
1   2  106.025   6645     483  ...      Yes      Asian      903           1
2   3  104.593   7075     514  ...       No      Asian      580           0
3   4  148.924   9504     681  ...       No      Asian      964           1
4   5   55.882   4897     357  ...      Yes  Caucasian      331           0

[5 rows x 13 columns]

**Classification**: Fit a logistic regression model with no regularizations on Balance_bin as response:

In [ ]:
# data: dropping the credit-card related features (Limit & Rating) to make the classification problem more challenging
X = pd.get_dummies(Credit.drop(['ID', 'Balance', 'Balance_bin', 'Limit', 'Rating'], axis=1))
y = Credit['Balance_bin']

# prepare the cross-validation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# create model
model = linear_model.LogisticRegression(penalty='none')
# evaluate model
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)

# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.664 (0.079)

Logistic regression model with LASSO regularization:

In [ ]:
modelCV = linear_model.LogisticRegressionCV(penalty='l1', solver='liblinear', cv=5, random_state=0, max_iter=1000).fit(X, y)
print('Best regularization parameter (inverse of lambda): ', modelCV.C_)
print('Model accuracy: ', modelCV.score(X, y))
y_pred = modelCV.predict(X)
print('Confusion matrix with counts: ')
print(confusion_matrix(y, y_pred))
print('Confusion matrix with proportions: ')
print(confusion_matrix(y, y_pred, normalize='true'))

Best regularization parameter (inverse of lambda):  [0.35938137]
Model accuracy:  0.6875
Confusion matrix with counts:
[[205  31]
 [ 94  70]]
Confusion matrix with proportions:
[[0.86864407 0.13135593]
 [0.57317073 0.42682927]]

**Multi-class**: Create a three-class version of balance

In [ ]:
y_multi = pd.cut(Credit.Balance, bins=[-1,300,700,2000], labels=['0','1','2'])
print(y_multi.value_counts(normalize=True))

0    0.4000
2    0.3475
1    0.2525
Name: Balance, dtype: float64

**Multinomial** regression model: no regularization.

In [ ]:
# create model
model = linear_model.LogisticRegression(penalty='none')
# evaluate model
scores = cross_val_score(model, X, y_multi, scoring='accuracy', cv=cv, n_jobs=-1)

# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

Accuracy: 0.513 (0.076)

Multinomial regression model with LASSO regularization.

In [ ]:
MultiModelCV = linear_model.LogisticRegressionCV(penalty='l1', solver='liblinear', cv=5, random_state=0, max_iter=1000).fit(X, y_multi)
print('Best regularization parameter: ', MultiModelCV.C_)
print('Model accuracy: ', MultiModelCV.score(X, y_multi))
y_pred = MultiModelCV.predict(X)
print('Confusion matrix with counts: ')
print(confusion_matrix(y_multi, y_pred))
print('Confusion matrix with proportions: ')
print(confusion_matrix(y_multi, y_pred, normalize='true'))

Best regularization parameter:  [5.99484250e-03 1.00000000e-04 3.59381366e-01]
Model accuracy:  0.4175
Confusion matrix with counts:
[[ 41 106  13]
 [ 17  71  13]
 [ 16  68  55]]
Confusion matrix with proportions:
[[0.25625    0.6625     0.08125   ]
 [0.16831683 0.7029703  0.12871287]
 [0.11510791 0.48920863 0.39568345]]